.App {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  width: 200px;
  height: 200px;
  margin-right: 350px;
}

.menu li img {
  width: auto;
  height: 100%;
}

.menu li span {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.menu li:hover span {
  display: block;
}

.images li {
  position: relative;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-left: 350px;
}

.images li img {
  width: auto;
  height: 100%;
  transition: transform 0.3s ease;
}

.images li:hover img {
  transform: scale(1.1);
}

.images li span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.images li:hover span {
  opacity: 1;
}

.header {
  text-align: center;
  background: rgb(206, 172, 66);
  background: linear-gradient(90deg, rgba(206, 172, 66, 1) 10%, rgba(225, 221, 169, 1) 50%, rgba(206, 172, 66, 1) 90%);
}

.header h1 {
  padding: 40px;
  margin: 0;
}

footer {
  position: relative;
  background: rgb(206, 172, 66);
  background: linear-gradient(90deg, rgba(206, 172, 66, 1) 10%, rgba(225, 221, 169, 1) 50%, rgba(206, 172, 66, 1) 90%);
  color: #000000;
  text-align: center;
  padding: 10px;
  width: auto;
  margin-top: 20px;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 24px;
  }
}