footer {
    position: fixed;
    bottom: 0;
    background: rgb(206, 172, 66);
    background: linear-gradient(90deg, rgba(206, 172, 66, 1) 10%, rgba(225, 221, 169, 1) 50%, rgba(206, 172, 66, 1) 90%);
    color: #000000;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.App {
    text-align: center;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    text-align: center;
    background: rgb(206, 172, 66);
    background: linear-gradient(90deg, rgba(206, 172, 66, 1) 10%, rgba(225, 221, 169, 1) 50%, rgba(206, 172, 66, 1) 90%);
}

.header h1 {
    padding: 40px;
    margin: 0;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }
}

.size1,
.size2,
.size3 {
    font-size: 20pt;
}

.size1 {
    margin-top: 200px;
}

.size2 {
    margin-top: 300px;
}

.size3 {
    margin-top: 400px;
    margin-bottom: 200px;
}

body {
    background: rgb(237, 212, 212);
    background: linear-gradient(0deg, rgba(237, 212, 212, 1) 0%, rgba(255, 255, 255, 1) 100%);
}